<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>カレンダー</title>
	<link rel="stylesheet" href="style.min.css">
</head>
<body>
  <div id="app">
		<div class="c-calendar">
			<h1 class="c-calendar__heading">{{nowYear}}年{{nowMonthStr}}月</h1>
			<div class="c-calendar__weeks"><div v-for="week in nowOfWeekStr" class="c-calendar__item">{{week}}</div></div>
			<div class="c-calendar-module">
				<div v-for="day in calendarDate" class="c-calendar__item" :class="today(day)">{{day}}</div>
			</div>
		</div>
  </div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const calendar = new Vue({
			data:function(){
				return {
					now:'',
					nowYear:'',
					nowMonth:'',
					nowMonthStr:'',
					nowdate:'',
					nowOfWeek:'',
					nowOfWeekStr:['月','火','水','木','金','土','日'],
					firstDayWeek:'',
					isToday:'-is-today'
				}
			},
			created: function(){
				this.now = new Date();
				this.nowYear = this.now.getFullYear();
				this.nowMonth = this.now.getMonth(),//ゼロから数える今月の月
				this.nowMonthStr = this.nowMonth + 1,
				this.nowdate = this.now.getDate(),
				this.nowOfWeek = this.now.getDay(),
				this.firstDayWeek = new Date(this.nowYear,this.nowMonth ,1).getDay()
			},
			computed: {
				calendarDate:function(){
					const firstDayWeek = new Date(this.nowYear,this.nowMonth ,1).getDay();//月初の曜日
					const lastDate = new Date(this.nowYear,this.nowMonth,0).getDate();//月末の日付
					const space = firstDayWeek === 0 ? 6:firstDayWeek - 1;
					const spaceNumber = [...Array(space)].map(function(_,i){
						return '';
					});
					const daysAllNumber = [...Array(lastDate)].map(function(_,i){
						return i + 1;
					});
					const totalDays = [...spaceNumber,...daysAllNumber];
					return totalDays;
				}
			},
			methods: {
				today:function(day){
					if(day === this.nowdate) {
						return this.isToday;
					}
				}
			}
    });
    calendar.$mount('#app');
	</script>
</body>
</html>
